
@{
    ViewData["Title"] = "ImagesSave";
}

<h1>ImagesSave</h1>

<form asp-action="ImagesSave" enctype="multipart/form-data">
    <input type="file"  name="imageFile"/>
    <button class="btn-info">Resim Ekle</button>
</form>
